body, html {
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "Courier New", fixed, monospace;

    z-index: 50;
    color: #0F0;
    text-shadow: 2px 2px 3px;
}

html {
    background: url("../images/scan_lines.gif") repeat;
    background-size: 6px 6px;
}

p {
    margin: 0;
}

a {
    color: #0F0;
}

.frame {
    background-image: url("../images/crt_frame.png");
    background-size: 100% 100%;
}

/* custom jquery.terminal settings */

#term {
    padding-left: 5%;
    padding-right: 5%;
    opacity: .7;
}
